#espot_catpg_01_10646.widget_height
  .masonary-container
    .offers-banner-1
      .sale-message-container-left-g
        img(style='-webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.85));', alt='Furniture Sale', src='/img/PDD-Upto30-with-outline-centered.png')
      .sale-discount
        span.up-to Up to
        span.discount-amount !{slice.primary.percentage_off}
        span.percent %
        span.off Off
      .offers-banner-1b
        ul
          a(href='/category/offers', manual_cm_sp='Bedding-_-link_1-_-wk14-Save')
            li !{RichText.asText(slice.primary.label)} 
              span
                img(style='height: 15px; margin-top: -2px;', src='/img/SS17-arrow-white.png')
          li
  .clear_both