extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = document

block body
  
  header
    h1.page-heading !{RichText.asText(document.data.name)}
  section.category__main__wrap
    
    include ./layout/category-sidebar.pug

    .category__content
    
      for slice in document.data.body
        case slice.slice_type
          when 'offer_banner'
            include ./slices/offer-banner.pug
          when 'featured_category'
            include ./slices/featured-category.pug
          default
            p Need to add: !{slice.slice_type}

      
      include ./slices/favourites.pug

  //pre 
    != JSON.stringify(document, null, 4)