.slick-slide {
  height: auto;
}

.rr .slick-prev::before {
    content: "<";
}

.rr .slick-next::before {
    content: ">";
}

footer {
  border-top: none;
}

.wio-link {
  background-color: #3f9c35 !important;
  color: #ffffff;
  position: fixed;
  z-index: 10000;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  bottom: 30px;
  left: 30px;
  height: 50px;
  width: 50px !important;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
          box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
}
.wio-link:hover,
.wio-link:visited,
.wio-link:focus {
  text-decoration: none;
}
.wio-link img {
  display: none;
}
.wio-link:after {
  font-family: 'Material Icons';
  content: '\E3C9';
  color: #ffffff;
  font-size: 24px; 
}

.masonary-block p {
  text-transform: uppercase;
}