footer#footer-main
  #footer-main-bottom
    .container
      .underline-text
        a(href='#') Paperjam
        | ™ and 
        a(href='#') Maison Moderne
        | ™ are trademarks used under licence by MM Publishing and Media S.A.
      div Copyright 2017 © Maison Moderne
      .underline-text
        br
        a(href='#') Foire aux questions
      .mm-footer-under-block
        ul
          li
            a(href='#')
              img(alt='Metriweb', border='0', src='/images/cim-internet-horizontal.png')
