footer.site-footer(role='contentinfo')
  // BEGIN Footer.jsp
  div(data-test-page='browsePage')
    #espot_global_footer_10643.widget_height
      // Edit newsletter signup text
      .l-social-icons
        .l-social-icons__inner
          section.wrap
            strong Stay connected
            ul.l-social-icons__icons
              ul.l-social-icons-row
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-facebook')
                    img(src='https://i1.adis.ws/i/dm/footer_social_facebook.png?$hp_content$', alt='Facebook', height='44')
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-twitter')
                    img(src='https://i1.adis.ws/i/dm/footer_social_twitter.png?$hp_content$', alt='Twitter', height='44')
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-google')
                    img(src='https://i1.adis.ws/i/dm/footer_social_google_plus.png?$hp_content$', alt='Google+', height='44')
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-pinterest')
                    img(src='https://i1.adis.ws/i/dm/footer_social_pinterest.png?$hp_content$', alt='Pinterest', height='44')
              ul.l-social-icons-row
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-instagram')
                    img(src='https://i1.adis.ws/i/dm/footer_social_instagram.png?$hp_content$', alt='Instagram', height='44')
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-youtube')
                    img(src='https://i1.adis.ws/i/dm/footer_social_youtube.png?$hp_content$', alt='YouTube', height='44')
                li
                  a(target='_blank')
                    img(src='https://i1.adis.ws/i/dm/footer_social_snapchat.png?$hp_content$', alt='Snapchat', height='44')
                li
                  a(href='#', target='_blank', manual_cm_re='global-_-footer-_-blog')
                    img(src='https://i1.adis.ws/i/dm/footer_social_blog.png?qlt=90', alt='Blog', height='44')
      .l-footer-logos
        section.wrap
          .l-footer-logos__logos
            .l-footer-logos__logos--main
              strong Safe & secure payments
              ul.l-card-logos
                li
                  img(src='https://i1.adis.ws/i/dm/visa-logo-17.png?$hp_content$', alt='Visa')
                li
                  img(src='https://i1.adis.ws/i/dm/mastercard-logo-17.png?$hp_content$', alt='Master Card')
                li
                  img(src='https://i1.adis.ws/i/dm/maestro-logo-17.png?$hp_content$', alt='Maestro')
                li
                  img(src='https://i1.adis.ws/i/dm/paypal-logo-17.png?$hp_content$', alt='Paypal')
            // <a href="https://www.trustedshops.co.uk/shop/certificate.php?shop_id=XE601F0B250E6E754C35DC3578D319D24" rel="nofollow" target="_blank" manual_cm_re="global-_-footer-_-trusted-shops-guarantee"><img src="https://i1.adis.ws/i/dm/trustedshops_logo.png?$hp_content$" class="l-trusted-logo" alt="Trusted Shops Guarantee" /></a>
          .l-footer-logos__dunelm
            img.footer__logo(alt="There's no place like Dunelm", style='min-height:64px; min-width:120px; margin-right:20px;', src='https://i1.adis.ws/i/dm/footer-logo.png?$hp_content$')
      .clear_both
  // END Footer.jsp
  //<script data-main="/wcsstore/public/448/js/main.min" src="/js/require.js"></script>
  //<script src="/js/main-2017.min.js"></script>
