header#header
  section#header-wrapper
    .container
      #header.row
        .col-md-12.main-col
          a(href='/')
            h1#header-logo paperJam Business zu Lëtzebuerg
  section#nav-wrapper(style='z-index: auto; position: relative; top: 0px;')
    .container
      #nav.row
        .col-md-12.main-col
          a(href='/')
            img#mini-logo(style='width: 0px; margin-right: 0px; overflow: hidden;', alt='', src='/images/menu-logo.png')
          nav.navbar(role='navigation')
            #main-menu.tb-megamenu.tb-megamenu-main-menu
              ul.tb-megamenu-nav.nav.level-0.items-6
                li.tb-megamenu-item.level-1.mega
                  a(href='/news/depuis-2009-le-centre-national-de-laudiovisuel-cna', aria-controls='megamenu-news', aria-expanded='false') News 
                li.tb-megamenu-item.level-1.mega
                  a(href='/news/lumieres-sur-le-stade-national', aria-controls='megamenu-dossiers', aria-expanded='false') Dossiers 
                li.tb-megamenu-item.level-1.mega
                  a(href='#', aria-controls='megamenu-guide', aria-expanded='false') Guide 
                li.tb-megamenu-item.level-1.mega
                  a(href='#', aria-controls='megamenu-club', aria-expanded='false') Club 
                li.tb-megamenu-item.level-1.mega
                  a(href='#', aria-expanded='false', aria-controls='megamenu-services') Services 
            #menu-secondary-menu.tb-megamenu.tb-megamenu-menu-secondary-menu
              ul.tb-megamenu-nav.nav.level-0.items-3
                li.tb-megamenu-item.level-1.mega.account(data-id='2175', data-level='1', data-type='menu_item', data-class='account', data-xicon='', data-caption='', data-alignsub='', data-group='0', data-hidewcol='0', data-hidesub='0')
                  a(href='#')
                    | Mon compte
                li.tb-megamenu-item.level-1.mega.search.dropdown.active(data-id='2174', data-level='1', data-type='menu_item', data-class='search', data-xicon='', data-caption='', data-alignsub='', data-group='0', data-hidewcol='0', data-hidesub='0')
                  a.dropdown-toggle(href='#')
                    | Recherche 
                    span.caret
            .clearfix